<section>
    <div class="cosmos" id="done">
<h2>NOW YOU ARE READY TO EXPLORE THE</h2><p>COSMOS</p>

    </div>
<div class="links" >
    <a href="/docs" id="docs" >DOCS</a>
    <a href="https://github.com/TechAtlasDev/pynasa" id="repo" >GITHUB REPO</a>
    <img src="cohete.svg" alt="" class="cohete" >
</div>

</section>
<style>

  
    .cohete{
        filter: drop-shadow(0px 0px 10px #ffa75f6b);
        height: 200px;
        top: 1400px;
        left: 100px;
        position: absolute;
    }
    .links{
        margin-top: 40px;
        font-size: 15px;
    }

    a{
        text-decoration: none;

    }
    p {
        text-shadow: 0px 0px 20px #ff9d00ad;
        margin: 0;
        font-size: 30px;
        color: #FF9D00;
    }

    #docs{
        border: 3px solid #006AA0;
        padding: 10px 30px;
        border-radius: 120px;
        color: white;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    #docs:hover {
        background-color: #006AA0;
        color: black;
    }

    #repo{
        border: 3px solid #757575;
        padding: 10px 30px;
        border-radius: 120px;
        color: white;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    #repo:hover {
        background-color: #757575;
        color: black;
    }

    .cosmos{
        gap: 10px;
        align-items: center;
        justify-content: center;
        display: flex;

    }
    h2{

        font-size: 30px;
        font-weight: 500;
        color: white;
        font-family: "Syncopate", serif;
    }
section{
    font-size: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    font-weight:500;
    color: white;
    font-family: "Syncopate", serif;
    background: linear-gradient(to top , #000000, #000222);
    
}
</style>