<section>
    <div class="cosmos" >
<h2>NOW YOU ARE READY TO EXPLORE THE</h2><p>COSMOS</p>

    </div>
<div class="links" >
    <a href="#">DOCS</a>
    <a href="#">GITHUB REPO</a>
</div>

</section>
<style>

    .links{
        background-color: red;
    }

    p{
        margin: 0;
        font-size: 30px;
        color: #FF9D00;
    }

    .cosmos{
        gap: 10px;
        align-items: center;
        justify-content: center;
        display: flex;

    }
    h2{

        font-size: 30px;
        font-weight: 500;
        color: white;
        font-family: "Syncopate", serif;
    }
section{
    font-size: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    font-weight:500;
    color: white;
    font-family: "Syncopate", serif;
    background: linear-gradient(to top , #000000, #000222);
    
}
</style>