<section>

</section>
<style>
section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    font-weight:500;
    color: white;
    font-family: "Syncopate", serif;
    background: linear-gradient(to top, #000000, #000222);
    
}
</style>