<section>
    <h1><p>py</p>nasa</h1>
</section>
<style>
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: white;
        font-family: "Syncopate", serif;
    }

    p{
        color: #FF9D00;
    }
    section{
        padding-left: 200px;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 680px;
        background: linear-gradient(to bottom, #000000, #000222);
    }
</style>