<section>
    <h1><p>PY</p>NASA</h1>
</section>
<style>
    h1{
        font-size: 50px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to bottom, #000000, #000222);
    }
</style>