---
import { Copy } from "../components/Copy";
---

<section>
    <h1>FRIST STEPS</h1>
    <h2>Install <p>py</p>nasa</h2>
    <Copy/ client:load >
</section>
<style>
    section{
        flex-direction: column;
        padding-left: 150px;
        display: flex;
        justify-content: center;
        align-items: start;
        height: 700px;
        background: linear-gradient(to top, #000000, #000222);
    }
</style>    