<section>

</section>
<style>
    section{
        flex-direction: column;
        padding-left: 150px;
        display: flex;
        justify-content: center;
        align-items: start;
        height: 700px;
        background: linear-gradient(to top, #000000, #000222);
    }
</style>